body{
    background-color: beige;
}

ul{
    list-style-type: none; /* Elimina los puntos de la lista*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed; /*fijado*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: cadetblue;
}

li{
    float: left; /*ponerlos en una linea*/
}

li a{
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li:hover{
    background-color: rgb(0, 0, 0, 0.5);
}