body{
    background-color: azure;
}

input[type=text]{ /*todos los tipos de texto*/
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit]{ /*todos los tipos de texto*/
    width: 100%;
    background-color: rgb(32, 179, 130);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=submit]:hover{ /*todos los tipos de texto*/
    width: 100%;
    background-color: rgb(121, 190, 167);
}

.box{
    background-color: rgb(209, 234, 255);
    padding: 12px 20px;
}